site_name: one-ring
site_description: A toy project, building a truly async file IO using io_uring, and on it building a custom event loop, as well as integration into asyncio's native event loop

theme:
  name: material
  palette:
    - scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.sections
    - search.suggest

plugins:
  - search
  - gen-files:
      scripts:
        - docs/scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          paths:
            - one-ring-core/src
            - one-ring-loop/src
            - one-ring-asyncio/src
          options:
            show_source: true
            show_root_heading: true
            members_order: source
            docstring_style: google
            # Uncomment to include private (_prefixed) members in the docs:
            # filters: ["!^__"]

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - "one-ring-core":
      - Overview: one-ring-core/overview.md
  - "one-ring-loop":
      - Overview: one-ring-loop/overview.md
  - "one-ring-asyncio":
      - Overview: one-ring-asyncio/overview.md
  - API Reference: api/
